.dark-theme {
  background-color: #222 !important;
  color: #eee !important;
}

.dark-theme .card {
  background-color: #333;
  color: #eee;
}

.dark-theme .table {
  color: #eee;
}

.dark-theme .list-group-item {
  background-color: #333;
  color: #eee;
}
